<style>
  h2{
    text-align:center;
    color:midnightblue;
    font-family:Georgia;
  }
</style>
<div class='container-fluid'>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Housing.com</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to "SignUp" , user_new_path %></li>
        <li> <%= link_to "LogIn" , user_login_path %></li>
      </ul>
    </div>
  </nav>
  <div class="row"></div>
</div>
