<style>
  
  h2{
    font-family:Georgia,sans-serif;
    color:midnightblue;
  }
 #display {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  #display td, #display th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  #display tr:nth-child(even){background-color: #f2f2f2;}
  #display tr:hover {background-color: #ddd;}
  #display th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: midnightblue;
    color: white;
  }
  button{
    font-family:Georgia;
    font-size:1.2em;
  }
</style>
<div id="display">
  <h2>DAILY REPORTS</h2>
  <table>
    <tr>
      <th>Date</th>
      <th>Count</th>
    </tr>
   
    <% @urlreport.each do |urlreport| %>
      <tr>
        <td><%= urlreport.date %> &nbsp &nbsp</td>
        <td><%= urlreport.count %></td>
      </tr>
    <% end %>
  </table><br/>
  <button>BACK : <%= link_to 'back', new_url_path  %> </button>
</div>